<div class="t-container t-max-w-full t-flex lg:t-hidden t-z-10 t-bottom-0 t-left-0 t-right-0 t-fixed t-bg-[#F0ECE3] t-h-[3rem] t-border-t">
    <ul class="t-flex t-items-center t-w-full t-justify-between">
        <li class="t-flex t-items-center" >
            <a class="t-h-full t-flex t-items-center t-justify-center t-px-[2rem]" href="{% url "core:home" %}">
                <img src="/media/nav-b/{{ home }}.svg" />
            </a>
        </li>
        <li class="t-flex t-items-center" >
            <a class="t-h-full t-flex t-items-center t-justify-center t-px-[2rem]" href="{% url "stores:list" %}">
                <img src="/media/nav-b/list-unordered.svg" />
            </a>
        </li>
        {% if user.is_authenticated %}
            <li class="t-flex t-items-end">
                <a class="t-flex t-items-center t-px-[2rem]" href="#">
                    <img class="t-w-[2.3rem] t-object-cover" src="/media/nav-b/cart.png" />
                </a>
            </li>
            <li class="t-flex t-items-center">
                <a class="t-h-full t-flex t-items-center t-px-[2rem]" href="{% url "users:logout" %}">
                    <img src="/media/nav-b/logout.svg" />
                </a>
            </li>
        {% else %}
            <li class="t-flex t-items-center">
                <a class="t-h-full t-flex t-items-center t-px-[2rem]" href="{% url "users:login" %}">
                    <img src="/media/nav-b/{{ person }}.svg" />
                </a>
            </li>
        {% endif %}
    </ul>
</div>
    