<nav class="navbar navbar-expand-lg navbar-light t-bg-[#1C4B82] fixed-top t-px-[1rem] t-py-[0.3rem] lg:t-px-[4rem] xl:t-px-[12.5rem] t-border-[0.001rem] t-border-[#1C4B82]" aria-label="Eleventh navbar example">
  <div class="container-fluid">
    <a class="lg:t-hidden t-text-white" onclick="history.back()">
      <svg class="t-fill-white" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" width="35" height="35">
        <path fill-rule="evenodd"
          d="M15.28 5.22a.75.75 0 00-1.06 0l-6.25 6.25a.75.75 0 000 1.06l6.25 6.25a.75.75 0 101.06-1.06L9.56 12l5.72-5.72a.75.75 0 000-1.06z">
        </path>
      </svg>
    </a>
    <a class="navbar-brand t-mr-0 t-py-0" href="{% url "core:home" %}">
      <span class="t-text-[2rem] t-text-white">기달</span>
    </a>
    <button class="t-border t-border-white t-p-2 t-rounded-xl lg:t-hidden" type="button" data-bs-toggle="collapse" data-bs-target="#navbarsExample09" aria-controls="navbarsExample09" aria-expanded="false" aria-label="Toggle navigation">
      <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="currentColor" class="bi bi-list t-fill-white"
        viewBox="0 0 16 16">
        <path fill-rule="evenodd"
          d="M2.5 12a.5.5 0 0 1 .5-.5h10a.5.5 0 0 1 0 1H3a.5.5 0 0 1-.5-.5zm0-4a.5.5 0 0 1 .5-.5h10a.5.5 0 0 1 0 1H3a.5.5 0 0 1-.5-.5zm0-4a.5.5 0 0 1 .5-.5h10a.5.5 0 0 1 0 1H3a.5.5 0 0 1-.5-.5z" />
      </svg>
    </button>
    <div class="collapse navbar-collapse lg:t-flex lg:t-justify-end lg:t-ml-[1rem] t-mt-[1rem] lg:t-mt-0" id="navbarsExample09">
      <form class="d-flex lg:t-w-[20rem]" action="{% url "stores:search" %}" type="GET">
        <input class="form-control me-2 t-border-0" type="search" placeholder="먹고 싶은 음식을 적어주세요!" aria-label="Search" data-bs-toggle="modal" data-bs-target="#nav-b">
      </form>
    </div>

    <div class="collapse navbar-collapse lg:t-flex lg:t-justify-end" id="navbarsExample09">
        
      <ul class="navbar-nav mb-2 mb-lg-0">
        {% if user.is_authenticated %}
          <li class="nav-item">
            <a class="nav-link active " aria-current="page" href="{% url "users:mypage" %}"><span class="t-text-white">마이페이지</span></a>
          </li>
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="{% url "users:logout" %}"><span class="t-text-white">로그아웃</span></a>
          </li>
        {% else %}
          <li class="nav-item">
            <a class="nav-link" href="{% url "users:signup" %}"><span class="t-text-white">회원가입</span></a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="{% url "users:login" %}"><span class="t-text-white">로그인</span></a>
          </li>
          
        {% endif %}
      </ul>
    </div>
  </div>
</nav>