{% extends "base.html" %}


{% block page_title %}
detail 
{% endblock page_title %}

{% block content %}
<div class="t-container t-mx-auto lg:t-w-[50%] xl:t-w-[30%]">
    <div class="t-grid t-grid-cols-1 t-mx-[0.5rem] lg:t-mx-0 ">
        {% if store.get_images %}
            <div id="myCarousel" class="carousel slide t--mt-[1rem] t-block t-w-full t-object-cover" style="aspect-ratio: 1.5 / 1;" data-bs-ride="carousel">
                <div class="carousel-indicators">
                    <button type="button" data-bs-target="#myCarousel" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
                    {% for image in store.get_images %}
                        <button type="button" data-bs-target="#myCarousel" data-bs-slide-to="{{ forloop.counter }}" aria-label="Slide {{ forloop.counter|add:"1" }}"></button>
                    {% endfor %}      
                </div>
                <div class="carousel-inner">
                    <div class="carousel-item active">
                        <img src="{{ store.first_image }}" alt="" class="t-block t-w-full t-object-cover t-z-0 t-rounded" style="aspect-ratio: 1.5 / 1;">
                    </div>
                    {% for image in store.get_images %}
                    <div class="carousel-item">
                        <img src="{{ image.file.url }}" alt="" class="t-block t-w-full t-object-cover t-z-0 t-rounded" style="aspect-ratio: 1.5 / 1;">
                    </div>
                    {% endfor %}
                </div>
                <button class="carousel-control-prev" type="button" data-bs-target="#myCarousel" data-bs-slide="prev">
                    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                    <span class="visually-hidden">Previous</span>
                </button>
                <button class="carousel-control-next" type="button" data-bs-target="#myCarousel" data-bs-slide="next">
                    <span class="carousel-control-next-icon " aria-hidden="true"></span>
                    <span class="visually-hidden">Next</span>
                </button>
            </div>
        {% else %}
            <div class="t-w-[35rem] t-h-[35rem] t-bg-gray-400 t-rounded"></div>
        {% endif %}

        <div class="t-flex t-flex-col t-border t-border-gray-300 t-rounded t-mt-[1rem] t-p-2">
            <div class="t-py-4 t-text-[1.5rem] t-border-b">{{ store.name }}</div>
            <div class="t-py-4 t-border-b t-flex t-justify-between">
                <span class="t-text-gray-400 t-whitespace-nowrap t-pr-[1rem]">주소</span>
                <span class="t-pr-[1rem]">{{ store.address }}</span>
            </div>
            <div class="t-py-4 t-border-b t-flex t-justify-between">
                <span class="t-text-gray-400 t-whitespace-nowrap t-pr-[1rem]">전화번호</span>
                <span class="t-pr-[1rem]">{{ store.phone_number }}</span>
            </div>
            <div class="t-py-4 t-border-b t-flex t-justify-between">
                <span class="t-text-gray-400 t-whitespace-nowrap t-pr-[1rem]">가게유형</span>
                <span class="t-pr-[1rem]">{{ store.store_type }}</span>
            </div>
            <div class="t-py-4 t-border-b t-flex t-justify-between">
                <span class="t-text-gray-400 t-whitespace-nowrap t-pr-[1rem]">가게유형 상세</span>
                <span class="t-pr-[1rem]">{{ store.food_type }}</span>
            </div>
            <div class="t-py-4 t-border-b t-flex t-justify-between">
                <span class="t-text-gray-400 t-whitespace-nowrap t-pr-[1rem]">대표음식</span>
                <span class="t-pr-[1rem]">{{ store.menu }}</span>
            </div>
            <div class="t-py-4 t-border-b t-flex t-justify-between">
                <span class="t-text-gray-400 t-whitespace-nowrap t-pr-[1rem]">편의성</span>
                <span class="t-pr-[1rem]">
                        {% for amenity in store.amenities.all %}
                        <span>{{ amenity.name }}, </span>
                        {% endfor %}    
                </span>
            </div>
            <div class="t-py-4 t-border-b t-flex t-justify-between">
                <span class="t-text-gray-400 t-whitespace-nowrap t-pr-[1rem]">맛</span>
                <span class="t-pr-[1rem]">
                    {% for taste in store.tastes.all %}
                    <span>{{ taste.name }}, </span>
                    {% endfor %}
                </span>
            </div>
            <div class="t-py-4 t-border-b t-flex t-justify-between">
                <span class="t-text-gray-400 t-whitespace-nowrap t-pr-[1rem]">특징</span>
                <span class="t-pr-[1rem]">
                    {% for theme in store.themes.all %}
                    <span>{{ theme.name }}, </span>
                    {% endfor %}
                </span>
            </div>
            <div class="t-py-4 t-border-b t-flex t-justify-between">
                <span class="t-text-gray-400 t-whitespace-nowrap t-pr-[1rem]">태그</span>
                <span class="t-pr-[1rem]">{{ store.tags }}</span>
            </div>
            
            <div class="t-py-4 t-text-center">
                <div class="t-flex t-justify-center">
                    <div class="t-p-[0.3rem] t-text-[1.5rem] lg:t-text-[2.5rem] t-font-bold">
                        {% if waiting_mode %}
                            <a href="{% url "waiting:add" store_id %}"
                                class="t-border-2 t-border-[#1C4B82] t-rounded-md t-mt-[2rem] t-w-[45%] t-py-[1.3rem] t-px-[1.7rem] t-text-[1.2rem] hover:t-bg-[#DFD3C3] hover:t-text-black"
                            >
                                기달리기
                            </a>
                        {% else %}
                            <span
                                class="t-border-2 t-border-[#1C4B82] t-rounded-md t-mt-[2rem] t-w-[45%] t-py-[1.3rem] t-px-[1.7rem] t-text-[1.2rem]">
                                기달리기 아직 안됨
                            </span>
                        {% endif %}
                    </div>
                </div>
            </div>
        </div>
    </div>
    
    
</div>
{% endblock %}

{% block nav-b %}
    
    {% include "partials/nav-b.html" with home="home" person="person" %}
{% endblock nav-b %}


<!--
<div><img src="{{ store.qrcode.url }}" class='' height='235' width='235'></div>
-->