{% extends "base.html" %}


{% block page_title %}
detail 
{% endblock page_title %}

{% block content %}
<div class="t-container t-mx-auto t-grid t-grid-cols-1 lg:t-grid-cols-2">
    <div class="t-flex t-justify-center">
        <img class="t-w-[40rem] t-object-cover" src="/media/example_photo/{{ store.id }}.jpg" style="aspect-ratio: 1 / 1;"/>
    </div>
    
    <div class="t-px-[2rem]">
        <div class="t-mb-[0.5rem] t-pt-[1rem] t-flex t-items-center">
            <img src="/media/products-detail/home-small.svg" />
            <span class="t-pt-[0.3rem] t-ml-1 lg:t-text-[1.7rem] "></span>
        </div>
        <div class="t-pb-[0.3rem] t-text-[1.5rem] lg:t-text-[2.5rem] t-font-bold"></div>
        <div>        
            <form method="POST" action="">
                {% csrf_token %}
                {{ cart_add_form }}
                <div class="t-flex t-justify-around">
                    <button class="t-border t-border-black t-rounded-md t-mt-[2rem] t-w-[45%] t-py-[1.3rem] t-text-[1.2rem] hover:t-text-gray-400">장바구니</button>
                    <button class="t-border t-border-black t-rounded-md t-mt-[2rem] t-w-[45%] t-py-[1.3rem] t-text-[1.2rem] hover:t-text-gray-400">구매하기</button>
                </div>
                
            </form> 
        </div>
    </div>
    
</div>
{% endblock %}

{% block nav-b %}
    
    {% include "partials/nav-b.html" with home="home" person="person" %}
{% endblock nav-b %}