@tailwind base;
@tailwind components;
@tailwind utilities;

/* 칠백삼체 유서연 */
@font-face {
  font-family: "establishRoomNo703OTF";
  src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2112@1.0/establishRoomNo703OTF.woff")
    format("woff");
}

html > body {
  font-family: "establishRoomNo703OTF";
  text-underline-position: under;
}

@keyframes messageFadeInMedium {
  0% {
    opacity: 0;
    transform: translateY(-50px);
  }
  5% {
    opacity: 1;
    transform: translateY(60px);
  }
  95% {
    opacity: 1;
    transform: translateY(60px);
  }
  100% {
    opacity: 0;
    transform: translateY(-50px);
  }
}

@keyframes messageFadeIn {
  0% {
    opacity: 0;
    transform: translateY(-50px);
  }
  5% {
    opacity: 1;
    transform: translateY(70px);
  }
  95% {
    opacity: 1;
    transform: translateY(70px);
  }
  100% {
    opacity: 0;
    transform: translateY(-50px);
  }
}

.t-message {
  animation: messageFadeIn 5s ease-in-out forwards;
}

@media (min-width: 1280px) {
  .t-message-lg {
    animation: messageFadeInMedium 5s ease-in-out forwards;
  }
}

.text-underline-position-under {
  text-underline-position: under;
}

div > input,
textarea,
select {
  width: 100%;
  font-weight: 500;
  border-radius: 0.125rem;
  padding-top: 1.25rem;
  padding-bottom: 1.25rem;
  border-width: 1px;
  padding-left: 1rem;
  padding-right: 1rem;
  font-size: 1.125rem;
  line-height: 1.75rem;
  margin-bottom: 0.5rem;
}

#id_store_type,
#id_amenities,
#id_menu,
#id_tastes,
#id_themes {
  margin-top: 0.5rem;
  border-bottom-width: 1px;
  margin-top: 1rem;
  margin-bottom: 1rem;
  padding-bottom: 1rem;
}

#id_store_type > div,
#id_amenities > div,
#id_themes > div,
#id_tastes > div {
  display: inline;
}

label[for*="id_store_type_"],
label[for*="id_amenities_"],
label[for*="id_themes_"],
label[for*="id_tastes_"] {
  --tw-bg-opacity: 1;
  background-color: rgba(229, 231, 235, var(--tw-bg-opacity));
  border-radius: 9999px;
  padding-left: 0.75rem;
  padding-right: 0.75rem;
  padding-top: 0.25rem;
  padding-bottom: 0.25rem;
  font-size: 0.875rem;
  line-height: 1.25rem;
  font-weight: 600;
  --tw-text-opacity: 1;
  color: rgba(55, 65, 81, var(--tw-text-opacity));
  margin-right: 0.5rem;
  margin-bottom: 0.5rem;
  white-space: nowrap;
}

label[for*="id_store_type_"] > input,
label[for*="id_amenities_"] > input,
label[for*="id_themes_"] > input,
label[for*="id_tastes_"] > input {
  display: none;
}

label.active {
  background-color: #1c4b82;
  color: white;
}
