{% extends "base.html" %}

{% block page_title %}
add
{% endblock page_title %}

{% block content %}
    <div class="t-container t-mx-auto">
        <div class="t-grid t-grid-cols-1 lg:grid-cols-2">
            <div class="t-mr-[1rem]">
                <span class="t-text-[1.5rem]">기달 참여하기</span>
            </div>
            <div>
                <form method="POST">
                    {% csrf_token %}
                    <div>{{ form }}</div>
                    <button class="t-w-full t-font-medium t-mb-2 t-text-center t-rounded-sm t-py-5 t-bg-gray-300 hover:t-bg-gray-400 t-text-white">기달 고고</button>
                </form>
            </div>
            
        </div>

{% endblock content %}

{% block nav-b %}
    
    {% include "partials/nav-b.html" with home="home" person="person" %}
{% endblock nav-b %}