{% extends "base.html" %}

{% block page_title %}
start
{% endblock page_title %}

{% block content %}
    <div class="t-container t-mx-auto">
        <div class="t-grid t-grid-cols-1 lg:grid-cols-2">
            <div class="t-mr-[1rem]">
                <span class="t-text-[1.5rem]">기달 시작하기</span>
            </div>
            <div>
                <form method="POST">
                    {% csrf_token %}
                    <input class="t-hidden" value="0" name="mode" />
                    <button type="submit" class="btn btn-outline-success btn-lg t-mr-[1rem] lg:t-px-[2rem]">시작</button>
                </form>
                <form method="POST">
                    {% csrf_token %}
                    <input class="t-hidden" value="1" name="mode" />
                    <button type="submit" class="btn btn-outline-danger btn-lg t-mr-[1rem] lg:t-px-[2rem]">중지</button>
                </form>
                <form method="POST">
                    {% csrf_token %}
                    <input class="t-hidden" value="2" name="mode" />
                    <button type="submit" class="btn btn-outline-warning btn-lg t-mr-[1rem] lg:t-px-[2rem] hover:t-text-white">초기화</button>
                </form>
                
            </div>
        </div>

{% endblock content %}

{% block nav-b %}
    
    {% include "partials/nav-b.html" with home="home" person="person" %}
{% endblock nav-b %}